
{% extends 'base.html' %}

{% block content %}
    <div class="col-8 m-auto pt-2 pb-5 text-center">
    <img src="https://images.endeavor.org.br/uploads/2020/11/09160227/logo-empreendedor-olist.png" class="img-fluid">
    </div>

    <div class="col-10 m-auto pt-3 pb-2 text-rigth">
        <a href="/seller" class="btn btn-success">Seller</a>
    </div>
    <div class="col-10 m-auto pt-4 pb-2 text-rigth">
        <a href="/marketplace" class="btn btn-success">Marketplace</a>
    </div>

    <div class="col-10 m-auto pt-4 pb-2 text-rigth">
        <a href="https://olist.com" class="btn btn-primary">Site Olist</a>
    </div>

{% endblock %}
