<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>DESAFIO OLIST</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Cadastro de Vendedores</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/seller" class="btn btn-info">Voltar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div id="result"></div>

        <form name="form" id="form" action="{% if db %}/update_seller/{{db.id}}/{%else%}/create_seller/{% endif %}" method="post">
            {% csrf_token %}
            <div class="form-group mt-4">Nome: {{seller_form.name}}</div>
            <div class="form-group mt-4">CNPJ: {{seller_form.cnpj}}</div>
            <div class="form-group mt-4">E-Mail: {{seller_form.mail}}</div>
            <div class="form-group mt-4">Endereço: {{seller_form.address}}</div>
            <input type="submit" class="btn btn-success mt-4" value="Salvar">
        </form>
    </div>
</body>
</html>