{%extends 'base.html'%}

{%block content%}

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Cadastro de Vendedores</h1>
    </div>


    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div id="result"></div>

        <form name="form" id="form" action="{% if db %}/update_seller/{{db.id}}/{%else%}/create_seller/{% endif %}" method="post">
            {% csrf_token %}
            <div class="form-group mt-4">Nome: {{seller_form.name}}</div>
            <div class="form-group mt-4">CNPJ: {{seller_form.cnpj}}</div>
            <div class="form-group mt-4">E-Mail: {{seller_form.mail}}</div>
            <div class="form-group mt-4">Endereço: {{seller_form.address}}</div>
            <input type="submit" class="btn btn-success mt-4" value="Salvar">
        </form>
    </div>
    
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/seller" class="btn btn-primary">Voltar</a>
    </div>



    <h1></h1>
{%endblock%}
