{%extends 'base.html'%}

{%block content%}
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Cadastro de Marketplace</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/marketplace" class="btn btn-info">Voltar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div id="result"></div>

        <form name="form" id="form" action="{% if db %}/updateMarketplace/{{db.id}}/{%else%}/createMarketplaces/{% endif %}" method="post">
            {% csrf_token %}
            <div class="form-group mt-4">Nome: {{formMarketplaces.name}}</div>
            <div class="form-group mt-4">URL: {{formMarketplaces.url}}</div>
            <div class="form-group mt-4">Descrição: {{formMarketplaces.description}}</div>
            <input type="submit" class="btn btn-success mt-4" value="Salvar">
        </form>
    </div>
{%endblock%}